@tailwind base;
@tailwind components;
@tailwind utilities;



body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

nav {
  @apply justify-start !important;
}

nav header {
  @apply justify-between gap-10 max-w-full !important;
}
nav>header>ul{
  @apply w-full justify-between !important;
}
nav>header>ul>ul{
  @apply laptop:justify-center !important;
}

.button-drop:hover{
  background-color: none !important;
}

.main-bg {
  background-image: radial-gradient(circle 500px at 30% 400px, #fad6cd 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(circle 500px at 65% 570px, #b8c6fc 4%, rgba(219, 227, 253, 0.5) 57.5%, rgba(255, 255, 255, 0) 100%), radial-gradient(circle 500px at 25% 3600px, #fbb8a7 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(circle 500px at 65% 4000px, #b8c6fc 4%, rgba(219, 227, 253, 0.5) 57.5%, rgba(255, 255, 255, 0) 100%), radial-gradient(circle 350px at 70% 4700px, #fad6cd 0%, rgba(255, 255, 255, 0) 100%);
}

/* nav header ul{
  @apply  justify-between gap-10 bg-red-300;
} */


.shadow-custom {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.active\:shadow-custom-active:active {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
}

@layer components{
  .home_heading{
    @apply text-base md:text-xl font-semibold text-blue-700;
  }
  .home_subheading{
    @apply text-3xl md:text-4xl tablet:text-3xl font-bold text-center laptop:text-start;
  }
  .home_headContent{
    @apply text-start text-base font-medium text-grey tablet:text-center laptop:text-start;
  }
  .home_button{
    @apply bg-purple px-4 py-2 text-lg w-full md:w-fit text-white font-semibold rounded-xl tablet:mt-2;
  }
  .hovereff:hover{
    transform: translateY(-5px);
    box-shadow: rgba(178, 179, 245, 0.69) 0px 15px 13px 0px, rgba(178, 179, 245, 0.19) 0px 1px 3px 0px inset;
    text-decoration: none;
    background: radial-gradient(circle, transparent 2%, white 2%) center center / 10000% white;
    transition: 1s;
  }
  .hoverBtn:hover{
    background-color: #1e2694;
    transition: 1s;
  }
  .btn-readMore{
    display: inline-block;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1;
    color: #232434;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #c7c4c3;
    outline-color: #fa9075;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-position: center;
  }
  .ContactForm{
    background-color: #f9f9f9;
    box-shadow: 0 0.78px 3.901px 0 rgba(28, 32, 87, 0.5), 0 3.121px 15.604px 0 rgba(28, 32, 87, 0.2);
    border-radius: 5px;
    padding:24px 12px
  }
  .contact-Inp
  {
    width: 100%;
    background: white;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  .contact-btn{
    display: inline-block;
    text-align: center;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1;
    color: white;
    background-color: #5d66eb;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-position: center;
    -webkit-transition: 800ms;
    transition: 800ms;
  }
}
